- name: Dependencies
  package:
    name: 
      - "members"
      - "jq"
    state: present

- name: chmod g-w p4studio/CMakeLists.txt
  ansible.builtin.file:
    path: "{{ sde }}/p4studio/CMakeLists.txt"
    mode: 0644

- name: Restrict the {{ p4_restart_group }} group to following sudo commands
  community.general.sudoers:
    name: p4-restart-tenants-permissions
    group: "{{ p4_restart_group}}"
    commands: 
      - /usr/bin/apt
      - "{{ sde }}/run_switchd.sh"
      - "{{ sde_install }}/bin/p4-build"
      - /usr/local/bin/p4
      - /usr/local/bin/p4-build
      - /usr/bin/pkill bf_switchd
      - /usr/bin/tcpreplay

- name: Set capability to network access for python code
  community.general.capabilities:
    path: /usr/bin/python3.8
    capability: cap_net_raw,cap_net_admin=eip
    state: present

- name: Set capability to network access for tcpdump
  community.general.capabilities:
    path: /usr/sbin/tcpdump
    capability: cap_net_raw,cap_net_admin=eip
    state: present

- name: Create directory for extra modules if does not exists
  ansible.builtin.file:
    path: "/lib/modules/{{ ansible_kernel }}/extra"
    state: directory

- name: Make sure module is linked to module directory
  ansible.builtin.file:
    src: "{{ sde_install }}/lib/modules/bf_kdrv.ko"
    dest: "/lib/modules/{{ ansible_kernel }}/extra/bf_kdrv.ko"
    state: link

- name: Add line to modules.dep file
  ansible.builtin.lineinfile:
    path: "/lib/modules/{{ ansible_kernel }}/modules.dep"
    line: "extra/bf_kdrv.ko:"
    state: present

- name: update module dependencies (depmod)
  ansible.builtin.shell:
    cmd: "/usr/sbin/depmod"

- name: load kernel module bf_kdrv
  ansible.builtin.modprobe:
    name: bf_kdrv
    state: present
    params: intr_mode="msi"
    persistent: "present"