# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
  version: 2
  renderer: networkd
  ethernets:
    {% for index in range(dataplane_ipv4|length) %}
    {{- dataplane_ipv4[index].ifname }}:
      dhcp4: no
      addresses:
        - "{{ dataplane_ipv4[index].ip }}"
    {% endfor %}